<% content_for :title, "#{t('app')} | #{@genre.name}" %>

<div id="<%= dom_id @genre %>">
  <p>
    <strong>Nome:</strong>
    <%= @genre.name %>
  </p>
</div>


<%= link_to "Editar", edit_genre_path(@genre) %> |
<%= button_to "Destroy this genre", @genre, method: :delete %>
