<% content_for :title, "#{t('app')} | Novo Artista" %>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Novo Artista</li>
  </ol>
</nav>

<%= render "form", artist: @artist %>
