<% content_for :title, "#{t('app')} | Editar Usu치rio" %>

<h1><b>Editar</b> usu치rio</h1>
<%= link_to 'Voltar', users_path, class: 'card-link' %><br><br>

<div class="card">
  <div class="card-body">
    <p class="card-text">
      <p class="lead">Editar usu치rio</p>
      <%= render "form", user: @user %>
    </p>
  </div>
</div>

<%= button_to "Excluir usu치rio", @user, method: :delete, class: 'btn btn-danger' %>
