<% content_for :title, "#{t('app')} | Gêneros" %>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Gêneros</li>
  </ol>
</nav>

<%= link_to "Todos os Gêneros", genres_path, class: "btn btn-primary float-end" if current_user&.role == Role.admin %>

<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @genres.each do |genre| %>
      <tr>
        <td><%= link_to genre.name, home_genre_path(genre) %></td>
        <td><%= genre.songs.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
