<h1>Editing multirecording</h1>

<%= render "form", multirecording: @multirecording %>

<br>

<div>
  <%= link_to "Show this multirecording", @multirecording %> |
  <%= link_to "Back to multirecordings", multirecordings_path %>
</div>
